@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i&display=swap');
body {

    margin: 0px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #DCDCDC;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.top{
    background-image: url(../image/Layer34.png);
    background-size: cover;
    text-align: center;
}
.header{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01em solid #6c7279;

}
.logo{
    display: flex;
    
}

@media (min-width: 576px) {
    .nav_text {
        padding-left: 6px;
    }
}
@media (min-width: 768px) {
    .nav_text {
        padding-left: 30px;
    }
}
@media (min-width: 992px) {
    .nav_text {
        padding-left: 60px;
    }
}
@media (min-width: 1200px) {
    .nav_text{
        padding-left: 60px;
    }
}
.nav_menu{
    display: flex;
    padding: 30px 0px;
}
.nav_text{

    font-size: 13px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.nav_text:hover{
    text-decoration: underline;
}
@media (min-width: 576px) {
.container {
     width: 546px;
}
}
@media (min-width: 768px) {
    .container {
        width: 738px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 962px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1168px;
    }
}

.img_button {
    width: 12px;
    height: 12px;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 125px;
}

.text1 {
    text-transform: uppercase;
    font-size: 65px;
    line-height: 71px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    display: block;
    padding-top: 120px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.text2 {
    display: block;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-bottom: 33px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 50px;
}
.button {
    -moz-border-radius:  3px; /* Firefox */
    -webkit-border-radius:  3px; /* Safari 4 */
    border-radius:  3px; /* IE 9, Safari 5, Chrome */
    background: #e84545; /* Цвет фона */
    margin-top: 35px;
    color: #ffffff;
    border: 2px solid #e84545;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; /* Размер текста */
    padding: 13px 45px;
    vertical-align:middle;
    margin-bottom: 200px;
}
.button:hover{
    background: rgba(0,0,0,0);
    color: #ffffff;
    transition-duration: 0.5s;

}
/*#second_block{
    display: none;
    width: 468px;
    height: 350px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;

}

#third_block {
    display: none;
    width: 468px;
    height: 350px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: white;

}*/
.features {
    background-size: cover;
    text-align: center;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 130px;

}

.features_1_4{
    margin-top: 90px;
    width: 30%;
    align-items: center;

}

.features_2_3_5_6{
    margin-top: 90px;
    align-items: center;
    width: 30%;
    margin-left: 45px;

}

.features_photo_1{
    width: 60px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer48.png);
}

.features_photo_2{
    width: 73px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer44.png);
    text-align: center;

}

.features_photo_3{
    width: 41px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer47.png);

}

.features_photo_4{
    width: 56px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer46.png);

}

.features_photo_5{
    width: 72px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer43.png);

}

.features_photo_6{
    width: 79px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer45.png);

}

.features_name_col_1{
    text-transform: uppercase;
    font-size: 14px;
    color: #2d3033;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 70px;

}

.features_text_col_1 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    text-align: center;
    padding-top: 35px;
    margin-left: auto;

}

.works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    text-align: center;

}
.work_text_1{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 21px;
    padding-top: 140px;
    opacity: 0;
}
.work_text_2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 0;

}
.work_1, .work_2, .work_3, .work_4, .work_5, .work_6, .work_7, .work_8 {

    height: 350px;
    margin-bottom: 1px;
    background-size: cover;
    background-repeat: no-repeat;

}
@media (min-width: 576px) {
    .work_1, .work_2, .work_3, .work_4, .work_5, .work_6, .work_7, .work_8 {
        width: 49.94%;
    }
}
@media (min-width: 768px) {
    .work_1, .work_2, .work_3, .work_4, .work_5, .work_6, .work_7, .work_8 {
        width: 49.94%;
    }
}
@media (min-width: 992px) {
    .work_1, .work_2, .work_3, .work_4, .work_5, .work_6, .work_7, .work_8 {
        width: 49.94%;
    }
}
@media (min-width: 1200px) {
    .work_1, .work_2, .work_3, .work_4, .work_5, .work_6, .work_7, .work_8 {
        width: 24.94%;
    }
}
.work_1 a, .work_2 a, .work_3 a, .work_4 a, .work_5 a, .work_6 a, .work_7 a, .work_8 a{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(232, 69, 69, 0.85);
    opacity: 0;
}
.work_1{
    background-image: url(../image/Layer35.png);

}
.work_1 a:hover
{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_1 :hover .work_text_1, .work_1 :hover .work_text_2{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_2{
    background-image: url(../image/Layer36.png);

}
.work_2 a:hover
{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_2 :hover .work_text_1, .work_2 :hover .work_text_2{
    transition-duration: 0.5s;
    opacity: 1;

}

.work_3{
    background-image: url(../image/Layer37.png);

}
.work_3 a:hover
{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_3:hover .work_text_1, .work_3:hover .work_text_2{
    transition-duration: 0.5s;
    opacity: 1;
}

.work_4{
    background-image: url(../image/Layer38.png);

}
.work_4 a:hover
{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_4:hover .work_text_1, .work_4:hover .work_text_2{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_5{
    background-image: url(../image/Layer39.png);

}
.work_5 a:hover
{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_5:hover .work_text_1, .work_5:hover .work_text_2{
    transition-duration: 0.5s;
    opacity: 1;

}

.work_6{
    background-image: url(../image/Layer40.png);

}
.work_6 a:hover
{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_6:hover .work_text_1, .work_6:hover .work_text_2{
    transition-duration: 0.5s;
    opacity: 1;

}

.work_7{
    background-image: url(../image/Layer41.png);

}
.work_7 a:hover
{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_7:hover .work_text_1, .work_7:hover .work_text_2{
    transition-duration: 0.5s;
    opacity: 1;
}

.work_8{
    background-image: url(../image/Layer42.png);

}
.work_8 a:hover
{
    transition-duration: 0.5s;
    opacity: 1;

}
.work_8:hover .work_text_1, .work_8:hover .work_text_2{
    transition-duration: 0.5s;
    opacity: 1;

}
@media (min-width: 576px) {
    .block_1_team, .block_2_3_4_team {
        width: 30%;
    }
}
@media (min-width: 768px) {
    .block_1_team, .block_2_3_4_team {
        width: 35%;
    }
}
@media (min-width: 992px) {
    .block_1_team, .block_2_3_4_team {
        width: 15%;
    }
}
@media (min-width: 1200px) {
    .block_1_team, .block_2_3_4_team {
        width: 15%;
    }
}
.team {
    background-color: white;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.block_1_team, .block_2_3_4_team {

    display: block;

}

.block_2_3_4_team {
    margin-left: 40px;

}

.photo_1_team{
    width: 270px;
    height: 270px;
    margin-top: 100px;
    background-image: url(../image/Layer30.png);

}

.photo_2_team {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    background-image: url(../image/Layer31.png);

}

.photo_3_team {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    background-image: url(../image/Layer32.png);

}

.photo_4_team {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    background-image: url(../image/Layer33.png);

}

.name_team {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #2d3033;
    margin-top: 40px;
    text-align: left;

}

.position_team {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #e84545;
    margin-top: 18px;
    text-align: left;

}

.text_team {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    margin-top: 30px;
    text-align: left;

}

.button_team {
    margin-top: 30px;
    text-align: left;
    padding-bottom: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;

}

.Facebook {

}

.Twitter{
    margin-left: 2px;

}

.Linkedin{
    margin-left: 2px;

}

.button_for_team{
    background: #ffffff;
    color: #ffffff;
    border: 1px solid #6c7279;
    padding: 10px 10px;
    float: left;
    margin-left: 2px;
}
@media (min-width: 576px) {
    .first_comment_text {
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .first_comment_text {
        font-size: 26px;
    }
}
@media (min-width: 992px) {
    .first_comment_text {
        font-size: 30px;
    }
}
@media (min-width: 1200px) {
    .first_comment_text {
        font-size: 36px;
    }
}
@media (min-width: 576px) {
    .first_comment_name {
        font-size: 8px;
    }
}
@media (min-width: 768px) {
    .first_comment_name {
        font-size: 10px;
    }
}
@media (min-width: 992px) {
    .first_comment_name {
        font-size: 13px;
    }
}
@media (min-width: 1200px) {
    .first_comment_name {
        font-size: 13px;
    }
}
.comment{
    background-size: cover;
    display: flex;

}

.first_comment_photo{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../image/Layer19.png);
    width: 49%;
    flex: 1;
}

.first_comment_block {
    width: 51%;
    background-color: #53354a;

}

.first_comment_text{
    margin-left: 9%;
    margin-top: 12%;
    width: 74.5%;
    line-height: 42px;
    color: #ffffff;
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-style: italic;

}

.first_comment_name {
    margin-top: 3%;
    margin-left: 9%;
    text-transform: uppercase;
    line-height: 21px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 170px;
}

.download{
    background-color: #ffffff;
    background-size: cover;
    text-align: center;
}

.download_text1{
    margin-top: 100px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 21px;
    color: #2d3033;
    font-weight: 300;
}

.download_text2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 21px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #2d3033;
    font-weight: 700;
}

.download_button{
    padding-top: 30px;
    margin-bottom: 100px;

}

.button_download {
    -moz-border-radius:  3px; /* Firefox */
    -webkit-border-radius:  3px; /* Safari 4 */
    border-radius:  3px; /* IE 9, Safari 5, Chrome */
    background: #e84545; /* Цвет фона */
    text-transform: uppercase;
    color: white;
    border: 2px solid #e84545;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; /* Размер текста */
    padding: 13px 85px;
    vertical-align:middle
}
.button_download:hover{
    background: rgba(0,0,0,0);
    color: #2d3033;
    transition-duration: 0.5s;

}
.information_background-color{
    background-color: #3a3e64;
}
.information{
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #3a3e64;
    background-size: cover;
    text-align: center;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.address{
    width: 33%;

}

.address2{
    font-size: 14px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.address3{
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #a9a9a9;
    text-align: center;

}
.share{
    width: 33%;

}
.share2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}
.share_buttons{
    padding-top: 20px;
    padding-left: 34%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;

}
.about{
    width: 33%;

}
.about2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}
.about_text{
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #a9a9a9;
    text-align: center;

}
.cr_background-color{
    background-color: #313454;
}
.cr{
    background-color: #313454;
    padding-bottom: 30px;
    padding-top: 30px;
    background-size: cover;
    text-align: center;

}

.cr_text {
    font-size: 14px;
    line-height: 23px;
    color: #808080;
    font-family: "Raleway", sans-serif;

}

.cr_text2{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;


}
.cr_text2:hover{
    text-decoration: underline;

}
.heart{
    text-align: center;
    color: #e84545;
}

.button_for_share{
    background: #3a3e64; /* Цвет фона */
    color: #3a3e64;
    border: 2px solid white;
    padding: 10px 10px;
    float: left;
    margin-left: 7px;

}
