@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i&display=swap');

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #DCDCDC;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

/*----------------------------Top----------------------------*/
.top {
    background-image: url(../image/Layer34.png);
    background-size: cover;
    text-align: center;
}

.header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6c7279;
}

.logo {
    display: block;
}

.nav_menu {
    display: flex;
    padding: 30px 0;
    margin: 0 -30px;
}

.nav_text {
    margin: 0 30px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_text:hover {
    text-decoration: underline;
}

.img_button {
    width: 12px;
    height: 12px;
}

.banner {
    padding-bottom: 155px;
    padding-top: 155px;
}

.banner_text {
    text-transform: uppercase;
    font-size: 65px;
    line-height: 71px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    display: block;
}

.banner_text_description {
    display: block;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
    padding-bottom: 83px;
}

.button {
    display: inline-block;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari 4 */
    border-radius: 3px; /* IE 9, Safari 5, Chrome */
    background: #e84545;
    color: #ffffff;
    border: 2px solid #e84545;
    font-size: 13px;
    padding: 13px 45px;
    vertical-align: middle;
    transition-duration: 0.5s;
}

.button:hover {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}

/*----------------------------Features----------------------------*/
.features {
    margin: 50px 0 120px;
}

.features_filling {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

.features_item {
    padding-top: 70px;
    width: 30%;
    margin: 0 15px;

}

.features_photo_1 {
    width: 60px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer48.png);
}

.features_photo_2 {
    width: 73px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer44.png);
    text-align: center;

}

.features_photo_3 {
    width: 41px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer47.png);

}

.features_photo_4 {
    width: 56px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer46.png);

}

.features_photo_5 {
    width: 72px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer43.png);

}

.features_photo_6 {
    width: 79px;
    height: 60px;
    margin: auto;
    background-image: url(../image/Layer45.png);

}

.features_name {
    text-transform: uppercase;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;

}

.features_text {
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    text-align: center;
    padding-top: 35px;
    margin-left: auto;

}

/*----------------------------Work----------------------------*/
.works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1px;
    text-align: center;
}

.work_name {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 21px;
    padding-top: 140px;
    opacity: 0;
    transition: 0.6s linear;
}

.work_description {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 173px;
    text-transform: capitalize;
    opacity: 0;
    transition: 0.6s linear;
}

.work_items {
    width: 24.94%;
    height: auto;
    margin-left: 1px;
    margin-bottom: 1px;
}

.work_items_photo {
    background-size: cover;
    background-repeat: no-repeat;
}

.work_items a {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(232, 69, 69, 0.85);
    opacity: 0;
    transition: 0.5s linear;
}

.work_photo_1 {
    background-image: url(../image/Layer35.png);
}

.work_items a:hover {
    opacity: 1;
}

.work_items :hover .work_name,
.work_items :hover .work_description {
    opacity: 1;
}

.work_photo_2 {
    background-image: url(../image/Layer36.png);
}

.work_photo_3 {
    background-image: url(../image/Layer37.png);
}

.work_photo_4 {
    background-image: url(../image/Layer38.png);
}

.work_photo_5 {
    background-image: url(../image/Layer39.png);
}

.work_photo_6 {
    background-image: url(../image/Layer40.png);
}

.work_photo_7 {
    background-image: url(../image/Layer41.png);
}

.work_photo_8 {
    background-image: url(../image/Layer42.png);
}

/*----------------------------Media----------------------------*/
@media (min-width: 272px) and (max-width: 567px) {
    .work_items {
        width: 100%;
    }

    .team_item {
        width: 86%;
    }

    .nav_menu {
        display: none;
    }

    .first_comment_name {
        font-size: 8px;
    }

    .first_comment_text {
        font-size: 13px;
    }

    .header {
        border-bottom: 0 solid #6c7279;
    }

    .banner_text {
        font-size: 20px;
        line-height: 35px;
    }

    .banner_text_description {
        font-size: 10px;
        line-height: 16px;
    }

    .download_text1 {
        font-size: 21px;
        line-height: 25px;
    }
}

@media (min-width: 568px) and (max-width: 767px) {
    .container {
        width: 498px;
    }

    .work_items {
        width: 100%;

    }

    .features_item {
        width: 75%;
    }

    .team_item {
        width: 86%;
    }

    .first_comment_name {
        font-size: 10px;
    }

    .first_comment_text {
        font-size: 16px;
    }

    .nav_menu {
        display: none;
    }

    .header {
        border-bottom: 1px solid #6c7279;
    }

    .banner_text {
        font-size: 23px;
        line-height: 39px;
    }

    .banner_text_description {
        font-size: 14px;
        line-height: 20px;
    }

    .download_title {
        font-size: 22px;
        line-height: 18px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }

    .work_items {
        width: 49.80%;
    }

    .features_item {
        width: 45%;
    }

    .team_item {
        width: 46%;
    }

    .first_comment_name {
        font-size: 10px;
    }

    .first_comment_text {
        font-size: 26px;
    }

    .nav_text {
        margin: 0 15px;
    }

    .banner_text {
        font-size: 45px;
        line-height: 51px;
    }

    .banner_text_description {
        font-size: 16px;
        line-height: 24px;
    }

    .download_title {
        font-size: 28px;
        line-height: 21px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }

    .work_items {
        width: 49.90%;
    }

    .features_item {
        width: 45%;
    }

    .team_item {
        width: 46%;
    }

    .banner_text {
        font-size: 65px;
        line-height: 71px;
    }

    .first_comment_name {
        font-size: 13px;
    }

    .first_comment_text {
        font-size: 30px;
    }

    .banner_text_description {
        font-size: 22px;
        line-height: 33px;
    }

    .nav_text {
        margin: 0 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .work_items {
        width: 24.90%;
    }

    .features_item {
        width: 30%;
    }

    .team_item {
        width: 22.4%;
    }

    .first_comment_text {
        font-size: 36px;
    }

}

/*----------------------------Team----------------------------*/
.team {
    margin: 100px 0 70px;
}

.team_full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team_item {
    padding: 0 15px;
}

.team_photo {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team_name {
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 8px;
    text-align: left;
}

.team_position {
    text-transform: uppercase;
    font-size: 13px;
    color: #e84545;
    margin-bottom: 20px;
    text-align: left;
}

.team_text {
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    text-align: left;
}

.svg_style {
    display: none;
}

.social {
    margin-top: 30px;
    display: flex;
    padding-bottom: 40px;
}

.social_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    margin-right: 4px;
    transition: background 0.1s linear;
}

.social_button:hover {
    background-color: #e8ecee;
}

.social_button:hover .social_icon {
    fill: #e84545;
}

.social_icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: background 0.1s linear;
}

/*----------------------------Comment----------------------------*/
.comment {
    background-size: cover;
    display: flex;

}

.first_comment_photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../image/Layer19.png);
    width: 49%;
    flex: 1;
}

.first_comment_block {
    width: 51%;
    background-color: #53354a;
    padding-bottom: 170px;
    padding-left: 85px;
    padding-top: 115px;

}

.first_comment_text {
    width: 65.5%;
    line-height: 42px;
    color: #ffffff;
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-style: italic;
}

.first_comment_name {
    text-transform: uppercase;
    line-height: 21px;
    color: #ffffff;
    font-weight: 700;
}

/*----------------------------Download----------------------------*/
.download {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.download_title {
    text-transform: capitalize;
    color: #2d3033;
    font-weight: 300;
}

.download_description {
    text-align: center;
    text-transform: uppercase;
    padding-top: 21px;
    font-size: 13px;
    line-height: 21px;
    color: #2d3033;
    font-weight: 700;
}

.download_button {
    padding-top: 30px;
}

.button_download {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #e84545;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #e84545;
    font-size: 13px;
    padding: 13px 85px;
    vertical-align: middle;
    transition-duration: 0.5s;
}

.button_download:hover {
    background: rgba(0, 0, 0, 0);
    color: #2d3033;
}

/*----------------------------Footer----------------------------*/
.information_filling {
    background-color: #3a3e64;
    padding-top: 70px;
    padding-bottom: 90px;
}

.information {
    background-color: #3a3e64;
    text-align: center;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.information_item {
    width: calc(100% / 3);
}

.inf_text {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.inf_address {
    padding-top: 20px;
    font-size: 14px;
    line-height: 23px;
    color: #a9a9a9;
    text-align: center;
}

.share {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.share_buttons {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background: #3a3e64;
}

.share_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #e8ecee;
    margin-right: 4px;
    background-color: #3a3e64;
    transition: background 0.1s linear;
}

.share_button:hover {
    background-color: #e8ecee;
}

.share_button:hover .share_icon {
    fill: #e84545;
}

.share_icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: background 0.1s linear;
}

.about {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.about_text {
    padding-top: 20px;
    font-size: 14px;
    line-height: 23px;
    color: #a9a9a9;
    text-align: center;
}

.cr {
    background-color: #313454;
}

.cr_items {
    background-color: #313454;
    padding-bottom: 30px;
    padding-top: 30px;
    background-size: cover;
    text-align: center;

}

.cr_text {

    font-size: 14px;
    line-height: 23px;
    color: #808080;
}

.cr_text_name {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
}

.cr_text2:hover {
    text-decoration: underline;
}

.heart {
    text-align: center;
    color: #e84545;
}
