@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i&display=swap');

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #DCDCDC;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

/*==============================/Top/==============================*/
.top {
    background-image: url(../image/Layer34.png);
    background-size: cover;
    text-align: center;
}

.header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6c7279;
}

.logo {
    display: block;
}

.nav_menu {
    display: flex;
    padding: 30px 0;
    margin: 0 -30px;
}

.nav_text {
    margin: 0 30px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_text:hover {
    text-decoration: underline;
}

.img_button {
    width: 12px;
    height: 12px;
}

.banner {
    padding-bottom: 155px;
    padding-top: 155px;
}

.banner_text {
    text-transform: uppercase;
    font-size: 65px;
    line-height: 71px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    display: block;
}

.banner_text_description {
    display: block;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
    padding-bottom: 83px;
}

.button {
    display: inline-block;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari 4 */
    border-radius: 3px; /* IE 9, Safari 5, Chrome */
    background: #e84545;
    color: #ffffff;
    border: 2px solid #e84545;
    font-size: 13px;
    padding: 13px 45px;
    vertical-align: middle;
    transition-duration: 0.5s;
}

.button:hover {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}

.menu_button {
    display: none;
    background: none;
    border: 0;
    padding: 9px 2px;
    cursor: pointer;
}

.menu_button_items {
    display: block;
    background-color: #ffffff;
    font-size: 0;
    color: transparent;
    width: 30px;
    height: 3px;
    position: relative;

}

.menu_button_items:before,
.menu_button_items:after {
    background-color: #ffffff;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1;

}

.menu_button_items:before {
    width: 30px;
    top: -8px;
}

.menu_button_items:after {
    width: 30px;
    bottom: -8px;
}

/*==============================/Features/==============================*/
.features {
    margin: 70px -40px 100px -40px;

}

.features_filling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.features_item {
    margin-top: 30px;
    text-align: center;
    padding: 0 40px;

}

.features_photo {
    padding-bottom: 40px;
}

.features_name {
    text-transform: uppercase;
    color: #2d3033;
    font-weight: 700;
    text-align: center;

}

.features_text {
    line-height: 21px;
    color: #6c7279;
    text-align: center;
    padding-top: 35px;
}

/*==============================/Work/==============================*/
.works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1px;
    text-align: center;
}

.work_name {
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 21px;
    padding-top: 140px;
    opacity: 0;
    transition: 0.6s linear;
}

.work_description {
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 173px;
    text-transform: capitalize;
    opacity: 0;
    transition: 0.6s linear;
}

.work_items {
    width: 24.94%;
    height: auto;
    margin-left: 1px;
    margin-bottom: 1px;
}

.work_items_photo {
    background-size: cover;
    background-repeat: no-repeat;
}

.work_items a {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(232, 69, 69, 0.85);
    opacity: 0;
    transition: 0.5s linear;
}

.work_photo {

}

.work_photo_1 {
    background-image: url(../image/Layer35.png);
}

.work_items a:hover {
    opacity: 1;
}

.work_items :hover .work_name,
.work_items :hover .work_description {
    opacity: 1;
}

.work_photo_2 {
    background-image: url(../image/Layer36.png);
}

.work_photo_3 {
    background-image: url(../image/Layer37.png);
}

.work_photo_4 {
    background-image: url(../image/Layer38.png);
}

.work_photo_5 {
    background-image: url(../image/Layer39.png);
}

.work_photo_6 {
    background-image: url(../image/Layer40.png);
}

.work_photo_7 {
    background-image: url(../image/Layer41.png);
}

.work_photo_8 {
    background-image: url(../image/Layer42.png);
}

/*==============================/Team/==============================*/
.team {
    margin: 100px 0 70px;
}

.team_full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team_item {
    margin: 0 15px;
}

.team_photo {
    padding-bottom: 15px;
    display: block;
    width: 100%;
    height: auto;
}

.team_name {
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 8px;
    text-align: left;
}

.team_position {
    text-transform: uppercase;
    font-size: 13px;
    color: #e84545;
    margin-bottom: 20px;
    text-align: left;
}

.team_text {
    line-height: 21px;
    color: #6c7279;
    text-align: left;
}

.svg_style {
    display: none;
}

.social {
    margin-top: 30px;
    display: flex;
    padding-bottom: 40px;
}

.social_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    margin-right: 4px;
    transition: background 0.1s linear;
}

.social_button:hover {
    background-color: #e8ecee;
}

.social_button:hover .social_icon {
    fill: #e84545;
}

.social_icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: background 0.1s linear;
}

/*==============================/Comment/==============================-*/
.comment {
    background-color: #53354a;
    overflow: hidden;
}

.comment_item {
    display: flex;
    flex-wrap: wrap;
}

.comment_photo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
    position: relative;
}

.comment_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.comment_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.comment_text {
    font-size: 36px;
    line-height: 1.2;
    color: #ffffff;
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 25px;
}

.comment_name {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 21px;
    color: #ffffff;
    font-weight: 700;
}

/*==============================/Download/==============================*/
.download {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.download_title {
    text-transform: capitalize;
    color: #2d3033;
    font-weight: 300;
}

.download_description {
    text-align: center;
    text-transform: uppercase;
    padding-top: 21px;
    font-size: 13px;
    line-height: 21px;
    color: #2d3033;
    font-weight: 700;
}

.download_button {
    padding-top: 30px;
}

.button_download {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #e84545;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #e84545;
    font-size: 13px;
    padding: 13px 85px;
    vertical-align: middle;
    transition-duration: 0.5s;
}

.button_download:hover {
    background: rgba(0, 0, 0, 0);
    color: #2d3033;
}

/*==============================/Footer/==============================*/
.information_filling {
    background-color: #3a3e64;
    padding-top: 70px;
    padding-bottom: 90px;
}

.information {
    background-color: #3a3e64;
    text-align: center;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.information_item {
    width: calc(100% / 3);
}

.inf_text {

    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.inf_description {
    padding-top: 20px;
    line-height: 23px;
    color: #a9a9a9;
    text-align: center;
}

.share_buttons {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background: #3a3e64;
}

.share_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #e8ecee;
    margin-right: 4px;
    background-color: #3a3e64;
    transition: background 0.1s linear;
}

.share_button:hover {
    background-color: #e8ecee;
}

.share_button:hover .share_icon {
    fill: #e84545;
}

.share_icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: background 0.1s linear;
}

.cr {
    background-color: #313454;
}

.cr_items {
    background-color: #313454;
    padding-bottom: 30px;
    padding-top: 30px;
    background-size: cover;
    text-align: center;

}

.cr_text {
    line-height: 23px;
    color: #808080;
}

.cr_text_name {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
}

.cr_text2:hover {
    text-decoration: underline;
}

.heart {
    text-align: center;
    color: #e84545;
}

/*==============================/Media/==============================*/
@media (min-width: 272px) and (max-width: 567px) {

    /*----------------------------//Top//----------------------------*/
    .nav_menu {
        display: none;
    }

    .header {
        border-bottom: 0 solid #6c7279;
    }

    .banner_text {
        font-size: 20px;
        line-height: 35px;
    }

    .banner_text_description {
        font-size: 12px;
        line-height: 16px;
    }

    .menu_button {
        display: block;
    }

    /*----------------------------//Features//----------------------------*/
    .features {
        margin: 20px 0 50px;

    }

    .features_item {
        width: 100%;
        padding: 0;
    }

    /*----------------------------//Work//----------------------------*/
    .work_items {
        width: 100%;
    }

    /*----------------------------//Team//----------------------------*/
    .team {
        margin: 50px 0 20px;
    }

    /*----------------------------//Comment//----------------------------*/
    .comment_photo {
        width: 100%;
    }

    .comment_img {
        right: -95px;
    }

    .comment_content {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
    }

    .comment_text {
        font-size: 18px;

    }

    .comment_name {
        font-size: 10px;
        padding-bottom: 15px;

    }

    /*----------------------------//Download//----------------------------*/
    .download {
        margin: 50px 0;
    }

    .download_title {
        font-size: 20px;
        line-height: 25px;
    }

    /*----------------------------//Footer//----------------------------*/
    .inf_text {
        font-size: 13px;
    }

    .inf_description {
        font-size: 13px;
    }

    .information_item {
        width: 100%;
        padding: 10px 0;
    }

    .information_filling {
        padding-top: 30px;
        padding-bottom: 35px;
    }

}

@media (min-width: 568px) and (max-width: 767px) {
    .container {
        width: 540px;
    }

    /*----------------------------//Top//----------------------------*/
    .nav_menu {
        display: none;
    }

    .menu_button {
        display: block;
    }

    .header {
        border-bottom: 1px solid #6c7279;
    }

    .banner_text {
        font-size: 23px;
        line-height: 39px;
    }

    .banner_text_description {
        font-size: 14px;
        line-height: 20px;
    }

    /*----------------------------//Features//----------------------------*/
    .features_item {
        width: 50%;
    }

    /*----------------------------//Work//----------------------------*/
    .work_items {
        width: 100%;

    }

    /*----------------------------//Team//----------------------------*/
    .team {
        margin: 50px 0 20px;
    }

    .team_item {
        width: 100%;
    }

    /*----------------------------//Comment//----------------------------*/
    .comment_photo {
        width: 100%;
    }

    .comment_img {
        right: -148px;
    }

    .comment_content {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
    }

    .comment_text {
        font-size: 25px;

    }

    .comment_name {
        padding-bottom: 25px;

    }

    /*----------------------------//Download//----------------------------*/
    .download {
        margin: 60px 0;
    }

    .download_title {
        font-size: 20px;
        line-height: 15px;
    }

    /*----------------------------//Footer//----------------------------*/
    .information_filling {
        padding-top: 50px;
        padding-bottom: 55px;
    }

    .inf_text {
        font-size: 12px;
    }

    .inf_description {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }

    /*----------------------------//Top//----------------------------*/
    .nav_text {
        margin: 0 15px;
    }

    .banner_text {
        font-size: 45px;
        line-height: 51px;
    }

    .banner_text_description {
        font-size: 16px;
        line-height: 24px;
    }

    /*----------------------------//Features///----------------------------*/
    .features_item {
        width: 45%;
        padding-top: 20px;

    }

    /*----------------------------//Work//----------------------------*/
    .work_items {
        width: 49.80%;
    }

    /*----------------------------//Team//----------------------------*/
    .team {
        margin: 60px 0 30px;
    }

    .team_item {
        width: 45.5%;
    }

    /*----------------------------//Comment//----------------------------*/
    .comment_text {
        font-size: 25px;
    }

    .comment_name {
        font-size: 12px;
    }

    /*----------------------------//Download//----------------------------*/
    .download {
        margin: 70px 0;
    }

    .download_title {
        font-size: 28px;
        line-height: 21px;
    }

    /*----------------------------//Footer//----------------------------*/
    .information_filling {
        padding-top: 60px;
        padding-bottom: 65px;
    }

    .inf_text {
        font-size: 12px;
    }

    .inf_description {
        font-size: 12px;
    }

}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }

    /*----------------------------//Top//----------------------------*/
    .banner_text {
        font-size: 65px;
        line-height: 71px;
    }

    .banner_text_description {
        font-size: 22px;
        line-height: 33px;
    }

    .nav_text {
        margin: 0 30px;
    }

    /*----------------------------//Features//----------------------------*/
    .features_item {
        width: 50%;
    }

    /*----------------------------//Work//----------------------------*/
    .work_items {
        width: 49.90%;
    }

    /*----------------------------//Team//----------------------------*/
    .team_item {
        width: 45.5%;
    }

    /*----------------------------//Comment//----------------------------*/
    .comment_text {
        font-size: 36px;

    }

    .comment_name {
        padding-bottom: 25px;

    }

    /*----------------------------//Download//----------------------------*/
    /*----------------------------//Footer//----------------------------*/
    .inf_text {
        font-size: 14px;
    }

    .inf_description {
        font-size: 14px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    /*----------------------------//Top//----------------------------*/
    /*----------------------------//Features//----------------------------*/
    .features_item {
        width: calc(100% / 3);
    }

    /*----------------------------//Work//----------------------------*/
    .work_items {
        width: 24.90%;
    }

    /*----------------------------//Team//----------------------------*/
    .team_item {
        width: 22.3%;

    }

    /*----------------------------//Comment//----------------------------*/
    .comment_text {
        font-size: 36px;

    }

    /*----------------------------//Download//----------------------------*/
    /*----------------------------//Footer//----------------------------*/

}
