.header2 {
    background-image: url(../image/Layer34.png);
    background-size: cover;
    height: 750px;
    text-align: center;

}

.part2 {
     background-color: white;
     background-size: cover;
     height: 705px;
    
     text-align: center;

 }
.part3 {
    background-color: white;
    background-size: cover;
    height: 780px;
    text-align: center;

}

.part4{
    background-color: white;
    background-size: cover;
    height: 500px;
}

.part5{
    background-color: white;
    background-size: cover;
    height: 300px;
    text-align: center;
}

.footer1{
    background-color: white;
    background-size: cover;
    height: 340px;
}
.header3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}


body {
    display: block;
    margin: 0px;
}
.text1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 65px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
br {
    margin-bottom: 71px;
}
.text2 {
    display: block;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 33px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.button {
    -moz-border-radius:  3px; /* Firefox */
    -webkit-border-radius:  3px; /* Safari 4 */
    border-radius:  3px; /* IE 9, Safari 5, Chrome */
    background: #e84545; /* Цвет фона */
    margin-top: 35px;
    color: white;
    border: 2px solid #e84545;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; /* Размер текста */
    padding: 13px 45px;
}

.head{
    margin: auto;
    position: relative;
    width: 1100px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;

}



#one, #two, #three, #four, #five, #six, #seven, #eight {
    width: 24.94%;
    background-size: cover;
    height: 350px;
    margin-left: 10px;
    display: block;
   }


#one{
     float: left;

     background-image: url(../image/Layer35.png);
}
#one:hover {
    display: block;
    float: left;
    background-image: url(../image/Layer65.png);
}
#two{
    float: left;
    background-image: url(../image/Layer36.png);
}
#two:hover{
    float: left;
    background-image: url(../image/Layer76.png);
}
#three{
    float: left;
    background-image: url(../image/Layer37.png);
}
#three:hover{
    float: left;
    background-image: url(../image/Layer77.png);
}
#four{
    float: left;
    background-image: url(../image/Layer38.png);
}
#four:hover{
    float: left;
    background-image: url(../image/Layer68.png);
}
#five{
    float: left;
    background-image: url(../image/Layer39.png);
}
#five:hover{
    float: left;
    background-image: url(../image/Layer69.png);
}
#six{
    float: left;
    background-image: url(../image/Layer40.png);
}
#six:hover{
    float: left;
    background-image: url(../image/Layer70.png);

}
#seven{
    float: left;
    background-image: url(../image/Layer41.png);
}
#seven:hover{
    float: left;
    background-image: url(../image/Layer71.png);
}
#eight{
    float: left;
    background-image: url(../image/Layer42.png);
}
#eight:hover{
    float: left;
    background-image: url(../image/Layer62.png);
}

#one, #two, #three, #four, #five, #six, #seven, #eight  {
    margin-left: 1px;
    margin-bottom: 1px;
}

#five, #six, #seven, #eight {
    margin-bottom: 1px;
}
#second_block{
    display: none;
    width: 468px;
    height: 350px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
#third_block {
    display: none;
    width: 468px;
    height: 350px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: white;
}
.part1 {
    background-color: white;
    background-size: cover;
    height: 800px;

    text-align: center;
}
#oneMathead, #twoMathead, #threeMathead, #fourMathead, #fiveMathead, #sixMathead{
    width: 23.5%;

    height: 345px;
    display: block;

}
#oneMathead{
    margin-left: 18%;
    float: left;

}
#twoMathead{
    float: left;

}
#threeMathead{
    float: left;

}
#fourMathead{
    margin-left: 18%;
    float: left;

}
#fiveMathead{
    float: left;

}
#sixMathead{
    float: left;

}

#oneMathead1, #twoMathead1, #threeMathead1, #fourMathead1, #fiveMathead1, #sixMathead1 {
    margin-top: 26%;
    margin-left: 130px;
}

#oneMathead1{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    margin-left: 44%;
    float: left;
    background-image: url(../image/Layer48.png);
}
#twoMathead1{
    width: 73px;
    height: 60px;
    margin-left: 41%;
    float: left;
    background-image: url(../image/Layer44.png);
    text-align: center;
}
#threeMathead1{
    width: 41px;
    height: 60px;
    margin-left: 45%;
    float: left;
    background-image: url(../image/Layer47.png);

}
#fourMathead1{
    width: 56px;
    height: 60px;
    margin-left: 43.75%;
    float: left;
    background-image: url(../image/Layer46.png);
}
#fiveMathead1{
    width: 72px;
    height: 60px;
    margin-left: 42%;
    float: left;
    background-image: url(../image/Layer43.png);
}
#sixMathead1{
    width: 79px;
    height: 60px;
    margin-left: 40%;
    float: left;
    background-image: url(../image/Layer45.png);
}

#oneMathead2, #twoMathead2, #threeMathead2, #fourMathead2, #fiveMathead2, #sixMathead2 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 215px;
    text-align: center
}

#oneMathead3, #twoMathead3, #threeMathead3, #fourMathead3, #fiveMathead3, #sixMathead3 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #6c7279;
    margin-top: 35px;
    margin-left: auto;
    text-align: center;
}

#oneTeam, #twoTeam, #threeTeam, #fourTeam {
    width: 15%;
    height: 580px;
    display: block;

}

#oneTeam {
    float: left;
    margin-left: 20%;

}
#twoTeam {
    float: left;
    margin-left: 30px;
}
#threeTeam {
    float: left;
    margin-left: 30px;
}
#fourTeam {
    float: left;
    margin-left: 30px;
}


#oneFooter2{
    margin-left: 16%;
    height: 240px;
    width: 23%;
    float: left;

}
#oneFooter3{
    margin-top: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
}
#oneFooter4{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: darkgrey;
    text-align: center;
}
#twoFooter3{
    margin-top: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#twoFooter2{
    float: left;
    height: 240px;
    width: 23%;
}
#threeFooter2{
    float: left;
    height: 240px;
    width: 23%;

}
#threeFooter3{
    margin-top: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
}
#threeFooter4{
     padding-top: 20px;
     font-family: 'Raleway', sans-serif;
     font-size: 14px;
     font-weight: normal;
     color: darkgrey;
     text-align: center;
 }





#oneTeam1{
    width: 270px;
    height: 270px;
    margin-top: 100px;
    float: left;
    background-image: url(../image/Layer30.png);
}
#twoTeam1 {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    float: left;
    background-image: url(../image/Layer31.png);
}
#threeTeam1 {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    float: left;
    background-image: url(../image/Layer32.png);
}
#fourTeam1 {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    float: left;
    background-image: url(../image/Layer33.png);
}

#oneTeam2, #twoTeam2, #threeTeam2, #fourTeam2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #333333;
    margin-top: 400px;
    text-align: left;
}

#oneTeam3, #twoTeam3, #threeTeam3, #fourTeam3 {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #ff6666;
    margin-top: 18px;
    text-align: left;
}

#oneTeam4, #twoTeam4, #threeTeam4, #fourTeam4 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #6c7279;
    margin-top: 30px;
    text-align: left;
}

#oneTeam5, #twoTeam5, #threeTeam5, #fourTeam5 {
    margin-top: 30px;
    text-align: left;
  }
.Facebook {
    float: left;
}

.Twitter{
    float: left;
    margin-left: 2px;
}

.Linkedin{
    float: left;
    margin-left: 2px;
}

.button2{

    background: white; /* Цвет фона */
    color: white;
    border: 1px solid #6c7279;
    padding: 10px 10px;
    float: left;
    margin-left: 2px;
}

#oneClients, #twoClients{


}
#oneClients{
    background-image: url(../image/Layer19.png);
    width: 49%;
    height: 500px;
    float: left;
}
#twoClients {
    float: left;
    width: 51%;
    height: 500px;
    background-color: #53354a;
}
#oneClients1{
    margin-left: 9%;
    margin-top: 12%;
    font-family: 'Cardo', serif;
    font-size: 36px;
    font-style: italic;
    color: white;
}
#twoClients1 {
    margin-top: 3%;
    margin-left: 9%;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
#footer2{
    height: 240px;
    background-color: #3a3e64;
}

#footer3{
    padding-left: 40%;
    height: 100px;
    background-color: #313454;

}
#footertext1, #footertext2 {

    display:inline-block;
}
#footertext1 {
    padding-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #808080;
    text-align: center;
}
#footertext2{

    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;

}

#oneDownload{
    text-align: center;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: normal;
    color: #2d3033;
}
#twoDownload{
    text-align: center;
    margin-top: 21px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #2d3033;
}

#threeDownload{

    margin-top: 20px;

}
.button3 {
    -moz-border-radius:  3px; /* Firefox */
    -webkit-border-radius:  3px; /* Safari 4 */
    border-radius:  3px; /* IE 9, Safari 5, Chrome */
    background: #e84545; /* Цвет фона */
    margin-top: 35px;
    color: white;
    border: 2px solid #e84545;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; /* Размер текста */
    padding: 13px 85px;
}

#Facebook {
    float: left;
}

#Twitter{
    float: left;
    margin-left: 2px;
}

#Linkedin{
    float: left;
    margin-left: 2px;
}


.button4{

    background: #3a3e64; /* Цвет фона */
    color: #3a3e64;
    border: 2px solid white;
    padding: 10px 10px;
    float: left;
    margin-left: 7px;

}
#twoFooter4{
padding-top: 20px;
padding-left: 34%;
    text-align: center;
}
