@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i&display=swap');
body {
    display: block;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #DCDCDC;
}

br {
    margin-bottom: 71px;
}

hr{
    border: none;
    box-shadow: 0px 1px 0px rgba(255,255,255,0.15);
    background-color: rgba(255,255,255,0);
    height: 0.3em;
}

.img_button {
    width: 12px;
    height: 12px;

}
.header_line{
     padding-top: 0.43em;
     padding-left: 18.5%;
     padding-right: 19.4%;
}

.header2 {
    background-image: url(../image/Layer34.png);
    background-size: cover;
    text-align: center;

}

.ActiveBox{
    position:absolute;
    left:18.5%;
    top:40px;
}

.menu{
    height: 40px;
    padding-top: 44px;
    font-size: 13px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
}
.menu1{
    margin-left: 50%;
}
.menu2_3_4_5{
    margin-left: 2.8%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 125px;
}

.text1 {
    text-transform: uppercase;
    font-size: 65px;
    line-height: 71px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    display: block;
    padding-top: 120px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.text2 {
    display: block;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin-bottom: 33px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 50px;
}

.button {
    -moz-border-radius:  3px; /* Firefox */
    -webkit-border-radius:  3px; /* Safari 4 */
    border-radius:  3px; /* IE 9, Safari 5, Chrome */
    background: #e84545; /* Цвет фона */
    margin-top: 35px;
    color: #ffffff;
    border: 2px solid #e84545;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; /* Размер текста */
    padding: 13px 45px;
    vertical-align:middle;
    margin-bottom: 200px;
}

/*#second_block{
    display: none;
    width: 468px;
    height: 350px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;

}

#third_block {
    display: none;
    width: 468px;
    height: 350px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: white;

}*/

.features_col_1 {
    background-size: cover;
    text-align: center;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.features_col_2 {
    margin-top: 10px;
    background-size: cover;
    margin-bottom: 120px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.features_1_4{
    width: 20%;

}

.features_2_3_5_6{

    width: 20%;
    margin-left: 30px;
}

.features_photo_1, .features_photo_2, .features_photo_3, .features_photo_4, .features_photo_5, .features_photo_6 {
    margin-top: 26%;
    margin-left: 130px;

}

.features_photo_1{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    margin-left: 44%;
    background-image: url(../image/Layer48.png);
}

.features_photo_2{
    width: 73px;
    height: 60px;
    margin-left: 41%;
    background-image: url(../image/Layer44.png);
    text-align: center;

}

.features_photo_3{
    width: 41px;
    height: 60px;
    margin-left: 45%;
    background-image: url(../image/Layer47.png);

}

.features_photo_4{
    width: 56px;
    height: 60px;
    margin-left: 43%;
    background-image: url(../image/Layer46.png);

}

.features_photo_5{
    width: 72px;
    height: 60px;
    margin-left: 40%;
    background-image: url(../image/Layer43.png);

}

.features_photo_6{
    width: 79px;
    height: 60px;
    margin-left: 39%;
    background-image: url(../image/Layer45.png);

}

.features_name_col_1{
    text-transform: uppercase;
    font-size: 14px;
    color: #2d3033;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 70px;

}

.features_text_col_1 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    text-align: center;
    padding-top: 35px;
    margin-left: auto;

}

.features_name_col_2{
    text-transform: uppercase;
    font-size: 14px;
    color: #2d3033;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 70px;

}

.features_text_col_2 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    text-align: center;
    padding-top: 35px;
    margin-left: auto;

}

.works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
    justify-content: space-between;

}
.work_text_1{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 21px;
    text-align: center;
    padding-top: 140px;
    display:none;
}
.work_text_2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    display:none;
    padding-bottom: 173px;

}
.work_1, .work_2, .work_3, .work_4, .work_5, .work_6, .work_7, .work_8 {
    width: 24.94%;
    height: 350px;
    margin-bottom: 1px;

}

.work_1{
    background-image: url(../image/Layer35.png);

}
.work_1:hover .work_text_1, .work_1:hover .work_text_2 {
    display: block;
    opacity: 0.85;
    background: #e84545;
}

.work_2{
    background-image: url(../image/Layer36.png);

}

.work_2:hover .work_text_1, .work_2:hover .work_text_2{
    display: block;
    opacity: 0.85;
    background: #e84545;

}

.work_3{
    background-image: url(../image/Layer37.png);

}

.work_3:hover .work_text_1, .work_3:hover .work_text_2{
    display: block;
    opacity: 0.85;
    background: #e84545;

}

.work_4{
    background-image: url(../image/Layer38.png);

}

.work_4:hover .work_text_1, .work_4:hover .work_text_2{
    display: block;
    opacity: 0.85;
    background: #e84545;

}

.work_5{
    background-image: url(../image/Layer39.png);

}

.work_5:hover .work_text_1, .work_5:hover .work_text_2{
    display: block;
    opacity: 0.85;
    background: #e84545;

}

.work_6{
    background-image: url(../image/Layer40.png);

}

.work_6:hover .work_text_1, .work_6:hover .work_text_2{
    display: block;
    opacity: 0.85;
    background: #e84545;

}

.work_7{
    background-image: url(../image/Layer41.png);

}

.work_7:hover .work_text_1, .work_7:hover .work_text_2{
    display: block;
    opacity: 0.85;
    background: #e84545;

}

.work_8{
    background-image: url(../image/Layer42.png);

}

.work_8:hover .work_text_1, .work_8:hover .work_text_2{
    display: block;
    opacity: 0.85;
    background: #e84545;

}

.team {
    background-color: white;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
}
.block_1_team, .block_2_3_4_team {
    width: 15%;
    display: block;

}

.block_2_3_4_team {
    margin-left: 40px;

}

.photo_1_team{
    width: 270px;
    height: 270px;
    margin-top: 100px;
    background-image: url(../image/Layer30.png);

}

.photo_2_team {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    background-image: url(../image/Layer31.png);

}

.photo_3_team {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    background-image: url(../image/Layer32.png);

}

.photo_4_team {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    background-image: url(../image/Layer33.png);

}

.name_team {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #2d3033;
    margin-top: 40px;
    text-align: left;

}

.position_team {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #e84545;
    margin-top: 18px;
    text-align: left;

}

.text_team {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    margin-top: 30px;
    text-align: left;

}

.button_team {
    margin-top: 30px;
    text-align: left;
    padding-bottom: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;

}

.Facebook {

}

.Twitter{
    margin-left: 2px;

}

.Linkedin{
    margin-left: 2px;

}

.button_for_team{
    background: #ffffff;
    color: #ffffff;
    border: 1px solid #6c7279;
    padding: 10px 10px;
    float: left;
    margin-left: 2px;
}

.comment{
    background-size: cover;
    display: flex;

}

.first_comment_photo{
    background-image: url(../image/Layer19.png);
    width: 49%;
    flex: 1;
}

.first_comment_block {
    width: 51%;
    background-color: #53354a;

}

.first_comment_text{
    margin-left: 9%;
    margin-top: 12%;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-style: italic;

}

.first_comment_name {
    margin-top: 3%;
    margin-left: 9%;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 170px;
}

.download{
    background-color: #ffffff;
    background-size: cover;
    text-align: center;
}

.download_text1{
    margin-top: 100px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 21px;
    color: #2d3033;
    font-weight: 300;
}

.download_text2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 21px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #2d3033;
    font-weight: 700;
}

.download_button{
    padding-top: 30px;
    margin-bottom: 100px;

}

.button_download {
    -moz-border-radius:  3px; /* Firefox */
    -webkit-border-radius:  3px; /* Safari 4 */
    border-radius:  3px; /* IE 9, Safari 5, Chrome */
    background: #e84545; /* Цвет фона */
    text-transform: uppercase;
    color: white;
    border: 2px solid #e84545;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; /* Размер текста */
    padding: 13px 85px;
    vertical-align:middle
}

.footer2{
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #3a3e64;
    display: flex;
    justify-content: center;
}

.address{
    width: 23%;
    background-color: #3a3e64;

}

.address2{
    font-size: 14px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.address3{
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #a9a9a9;
    text-align: center;

}

.share{
    width: 23%;

}

.share2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}

.share_buttons{
    padding-top: 20px;
    padding-left: 34%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;

}

.about{
    width: 21.5%;

}
.about2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}
.about_text{
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #a9a9a9;
    text-align: center;

}

.cr{
    background-color: #313454;
    padding-bottom: 30px;
    padding-top: 30px;
    background-size: cover;
    text-align: center;

}

.footer4{
    text-align: center;

}

.cr_text {

    font-size: 14px;
    line-height: 23px;
    color: #808080;
    font-family: "Raleway", sans-serif;

}

.cr_text2{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;

}

.heart{
    text-align: center;
    color: #e84545;
}

.button_for_share{

    background: #3a3e64; /* Цвет фона */
    color: #3a3e64;
    border: 2px solid white;
    padding: 10px 10px;
    float: left;
    margin-left: 7px;

}
