.header2 {
    background-image: url(../image/Layer34.png);
    background-size: cover;
    height: 750px;
    text-align: center;

}
.header3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}
.text1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 65px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
br {
    margin-bottom: 71px;
}
.text2 {
    display: block;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 33px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.button {
    -moz-border-radius:  3px; /* Firefox */
    -webkit-border-radius:  3px; /* Safari 4 */
    border-radius:  3px; /* IE 9, Safari 5, Chrome */
    background: #e84545; /* Цвет фона */
    margin-top: 35px;
    color: white;
    border: 2px solid #e84545;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; /* Размер текста */
    padding: 13px 45px;
}
