
#one, #two, #three, #four, #five, #six, #seven, #eight {
    width: 24%;
    height: 350px;
    display: block;
   }

#one{
     float: left;
     background-image: url(../image/Layer35.png);
}
#one:hover {
    display: block;
    float: left;
    background-image: url(../image/Layer65.png);
}
#two{
    float: left;
    background-image: url(../image/Layer36.png);
}
#two:hover{
    float: left;
    background-image: url(../image/Layer76.png);
}
#three{
    float: left;
    background-image: url(../image/Layer37.png);
}
#three:hover{
    float: left;
    background-image: url(../image/Layer77.png);
}
#four{
    float: left;
    background-image: url(../image/Layer38.png);
}
#four:hover{
    float: left;
    background-image: url(../image/Layer68.png);
}
#five{
    float: left;
    background-image: url(../image/Layer39.png);
}
#five:hover{
    float: left;
    background-image: url(../image/Layer69.png);
}
#six{
    float: left;
    background-image: url(../image/Layer40.png);
}
#six:hover{
    float: left;
    background-image: url(../image/Layer70.png);

}
#seven{
    float: left;
    background-image: url(../image/Layer41.png);
}
#seven:hover{
    float: left;
    background-image: url(../image/Layer71.png);
}
#eight{
    float: left;
    background-image: url(../image/Layer42.png);
}
#eight:hover{
    float: left;
    background-image: url(../image/Layer62.png);
}

#one, #two, #three, #four, #five, #six, #seven, #eight  {
    margin-left: 1px;
    margin-bottom: 1px;
}

#five, #six, #seven, #eight {
    margin-bottom: 1px;
}
