.part3 {
    background-color: white;
    background-size: cover;
    height: 780px;
    text-align: center;

}
#oneTeam, #twoTeam, #threeTeam, #fourTeam {
    width: 15%;
    height: 580px;
    display: block;

}

#oneTeam {
    float: left;
    margin-left: 365px;

}
#twoTeam {
    float: left;
    margin-left: 30px;
}
#threeTeam {
    float: left;
    margin-left: 30px;
}
#fourTeam {
    float: left;
    margin-left: 30px;
}
#oneTeam1{
    width: 270px;
    height: 270px;
    margin-top: 100px;
    float: left;
    background-image: url(../image/Layer30.png);
}
#twoTeam1 {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    float: left;
    background-image: url(../image/Layer31.png);
}
#threeTeam1 {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    float: left;
    background-image: url(../image/Layer32.png);
}
#fourTeam1 {
    width: 270px;
    height: 270px;
    margin-top: 100px;
    float: left;
    background-image: url(../image/Layer33.png);
}

#oneTeam2, #twoTeam2, #threeTeam2, #fourTeam2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #333333;
    margin-top: 400px;
    text-align: left;
}

#oneTeam3, #twoTeam3, #threeTeam3, #fourTeam3 {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #ff6666;
    margin-top: 18px;
    text-align: left;
}

#oneTeam4, #twoTeam4, #threeTeam4, #fourTeam4 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #6c7279;
    margin-top: 30px;
    text-align: left;
}

#oneTeam5, #twoTeam5, #threeTeam5, #fourTeam5 {
    margin-top: 30px;
    text-align: left;
  }
.Facebook {
    float: left;
}

.Twitter{
    float: left;
    margin-left: 2px;
}

.Linkedin{
    float: left;
    margin-left: 2px;
}

.button2{

    background: white; /* Цвет фона */
    color: white;
    border: 1px solid #6c7279;
    padding: 10px 10px;
    float: left;
    margin-left: 2px;
}
