.part1 {
    background-color: white;
    background-size: cover;
    height: 800px;
    width: 1600px;
    text-align: center;
}
#oneMathead, #twoMathead, #threeMathead, #fourMathead, #fiveMathead, #sixMathead{
    width: 367px;
    height: 345px;
    display: block;
}
#oneMathead{
    margin-left: 21%;
    float: left;

}
#twoMathead{
    float: left;

}
#threeMathead{
    float: left;

}
#fourMathead{
    margin-left: 21%;
    float: left;

}
#fiveMathead{
    float: left;

}
#sixMathead{
    float: left;

}

#oneMathead1, #twoMathead1, #threeMathead1, #fourMathead1, #fiveMathead1, #sixMathead1 {
    margin-top: 120px;
    margin-left: 130px;
    margin:0 auto;
}

#oneMathead1{
    width: 60px;
    height: 60px;
    margin-bottom: 120px;
    float: left;
    background-image: url(../image/Layer48.png);
}
#twoMathead1{
    width: 73px;
    height: 60px;
    float: left;
    background-image: url(../image/Layer44.png);
    text-align: center;
}
#threeMathead1{
    width: 41px;
    height: 60px;
    float: left;
    background-image: url(../image/Layer47.png);

}
#fourMathead1{
    width: 56px;
    height: 60px;
    float: left;
    background-image: url(../image/Layer46.png);
}
#fiveMathead1{
    width: 72px;
    height: 60px;
    float: left;
    background-image: url(../image/Layer43.png);
}
#sixMathead1{
    width: 79px;
    height: 60px;
    float: left;
    background-image: url(../image/Layer45.png);
}

#oneMathead2, #twoMathead2, #threeMathead2, #fourMathead2, #fiveMathead2, #sixMathead2 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 215px;
    text-align: center
}

#oneMathead3, #twoMathead3, #threeMathead3, #fourMathead3, #fiveMathead3, #sixMathead3 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #6c7279;
    margin-top: 35px;
    margin-left: auto;
    text-align: center;
}
